<!DOCTYPE html>
<html>
  <head>
    <%- include('_head.html.ejs', { appVars }) %>
    <style type="text/css">
      .header.markdown-body { background: none; font-size: .3em; }
      .header.markdown-body pre { background: none; }
    </style>
  </head>

  <body class="container my-5">
    <div class="my-5 d-flex justify-content-center align-items-center">
      <div class="header markdown-body user-select-none"><%-headerContent%></div>
    </div>
    <form action="<%=appVars.root%>/" method="post" id="new">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <h5 class="card-title">Create Shortcode</h5>
          </div>

          <div class="card-body row">
            <div class="col-8">
              <input class="form-control" type="url" name="redirect" placeholder="Target URI" />
            </div>
            <div class="col-4">
              <select class="form-select" name="status" placeholder="Status code">
                <% appVars.statuses.forEach((status) => { %>
                <option value="<%=status%>" <%-(status === 301) ? 'selected' : ''%>>
                  <%=status%>
                </option>
                <% }) %>
              </select>
            </div>
          </div>

          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="my-5 d-flex justify-content-center align-items-center">
      <div class="card">
        <div class="card-body">
          <article class="markdown-body p-3">
            <%-bodyContent%>
          </article>
        </div>

        <div class="card-footer text-center">
          <a href="<%=appVars.website%>" target="_blank">
            <small>
              <%=appVars.website%>
            </small>
          </a>
        </div>
      </div>
    </div>
    <div id="success_modal" class="modal modal-xl fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Your Shortcode URL:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <h3>
              <pre><code id="success_modal_shortcode"></code></pre>
            </h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-clipboard-action="copy" data-clipboard-target="#success_modal_shortcode">
              Copy to Clipboard
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <%-include('_hljs.html.ejs', { appVars })%>
    <%-include('_bootstrap.html.ejs', { appVars })%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js" integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script data-src="https://cdnjs.cloudflare.com/ajax/libs/hackercheck/1.33.7/3457323665.js" integrity="Y29uc29sZS5sb2coJyVjR0VUIC9mbGFnL3NoYTUxMihpbnRlZ3JpdHkpJywgJ2JhY2tncm91bmQ6ICNmZmY7IGNvbG9yOiAjZmZmJyk7" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      eval(atob(document.querySelector('script[data-src]').integrity));
      new ClipboardJS('[data-clipboard-action]');
      var successModal = new bootstrap.Modal('#success_modal', { keyboard: false });
      var successModalShortcode = document.getElementById('success_modal_shortcode');
      document.getElementById('new').addEventListener('submit', function (e) {
        e.preventDefault();
        e.stopPropagation();
        var formData = new FormData(e.target);
        var formObject = {};
        for (var pair of formData.entries()) { formObject[pair[0]] = pair[1]; }
        const xhr = new XMLHttpRequest();
        xhr.addEventListener('load', () => {
          e.target.reset();
          var responseBody = JSON.parse(xhr.response);
          successModalShortcode.innerText = ('<%=appVars.root%>/' + responseBody.shortcode);
          successModal.show();
        });
        xhr.open("POST", '<%=appVars.root%>/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(formObject));
      });
    </script>
  </body>
</html>
